head
  meta(charset="UTF-8")
  title Mickel Metekohy #{(title) ? "- " + title: ""}
  meta(name="viewport" content="width=device-width, initial-scale=1")

  meta(meta name="author" content="Mickel Metekohy")
  meta(property="og:title" content="Mickel Metekohy")
  meta(property="og:description" content="Checkout my code and more.")
  meta(property="og:image" content="https://mickelmetekohy.com/images/screenshot.png")
  meta(property="og:url" content="https://mickelmetekohy.com")
  meta(name="twitter:card" content="summary_large_image")

  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:200,400,600,800")
  link(rel="stylesheet prefetch" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css")
  //- https://www.1and1.com/favicon-generator
  link(rel="apple-touch-icon" sizes="60x60" href="../images/favicons/apple-touch-icon-60x60.png")
  link(rel="apple-touch-icon" sizes="76x76" href="../images/favicons/apple-touch-icon-76x76.png")
  link(rel="apple-touch-icon" sizes="120x120" href="../images/favicons/apple-touch-icon-120x120.png")
  link(rel="apple-touch-icon" sizes="152x152" href="../images/favicons/apple-touch-icon-152x152.png")
  link(rel="apple-touch-icon" sizes="180x180" href="../images/favicons/apple-touch-icon-180x180.png")
  link(rel="icon" type="image/png" sizes="512x512"  href="../images/favicons/android-chrome-512x512.png")
  link(rel="icon" type="image/png" sizes="192x192"  href="../images/favicons/android-chrome-192x192.png")
  link(rel="icon" type="image/png" sizes="32x32" href="../images/favicons/favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="16x16" href="../images/favicons/favicon-16x16.png")
  link(rel="manifest" href="https://mickelmetekohy.com/images/site.webmanifest")
  link(rel="mask-icon" href="../images/favicons/safari-pinned-tab.svg" color="#000000")
  link(rel="shortcut icon" href="../images/favicons/favicon.ico")
  meta(name="msapplication-TileColor" content="#000000")
  meta(name="msapplication-config" content="../images/favicons/browserconfig.xml")
  meta(name="theme-color" content="#000000")









