//- index.pug
//- extends layouts/default.pug

//- page variables
//- block pageVariables
  - title = "Coolidge Corner";
  - metaAuthor = "Mickel Metekohy, mkr.metekohy@gmail.com";
  - metaDescription = "";
  - bodyClass = "";
  - page = "index";
  - pageType = 'sub-page';
  - pageClass = 'theater-page';

//- block prepend head
//- block head
//- block append head

//- block prepend header
//- block header
//- block append header

//- block content

//- block prepend footer
//- block footer
//- block append footer

//- block prepend scripts
//- block scripts
//- block append scripts

extends layouts/default.pug

//- page variables
block pageVariables
  - title = '';
  - page = 'index';
  - pageType = 'home-page';
  - pageClass = 'home-page';

block content

  main#site-content
    section.intro
      h1.title Hello, I'm Mickel!

      div.tag Please allow me to share my passion for code.

      div.profiles
        a.icon(target="_blank" href="https://www.linkedin.com/in/mickelmetekohy")
          span.sr-only www.linkedin.com/in/mickelmetekohy
        a.icon(target="_blank" href="https://github.com/MickelMetekohy")
          span.sr-only github.com/MickelMetekohy

    section.technology
      h2.title In the passed years I’ve explored many technologies.

      ul.tech
        li.icon
          i(aria-hidden="true" class="fab fa-html5")
          span HTML
        li.icon
          i(aria-hidden="true" class="fab fa-css3")
          span CSS
        li.icon
          i(aria-hidden="true" class="fab fa-js")
          span Javascript
        li.icon
          i(aria-hidden="true" class="fas fa-code")
          span Typescript
        li.icon
          i(aria-hidden="true" class="fab fa-npm")
          span NPM
        li.icon
          i(aria-hidden="true" class="fas fa-code")
          span Webpack
        li.icon
          i(aria-hidden="true" class="fab fa-sass")
          span SASS
        li.icon
          i(aria-hidden="true" class="fab fa-git")
          span GIT
        li.icon
          i(aria-hidden="true" class="fab fa-github")
          span Github
        li.icon
          i(aria-hidden="true" class="fas fa-code")
          span Angular
        li.icon
          i(aria-hidden="true" class="fab fa-angular")
          span Redux
        li.icon
          i(aria-hidden="true" class="fas fa-code")
          span Firebase
        li.icon
          i(aria-hidden="true" class="fab fa-wordpress")
          span WordPress
        li.icon
          i(aria-hidden="true" class="fab fa-php")
          span PHP
        li.icon
          i(aria-hidden="true" class="fas fa-code")
          span MySQL
        li.icon
          i(aria-hidden="true" class="fas fa-code")
          span Pug


    section.portfolio
      h2.title Here are some web experiences I’ve worked on.

      ul.work
        li: a.icon(target="_blank" href="https://bwod.mickelmetekohy.com")
          //- i(aria-hidden="true" class="fab fa-angular")
          span B-WOD.
          br
          span.desc An Angular PWA to time your Workout Of the Day.

        li: a.icon(target="_blank" href="https://dme.childrenshospital.org")
          span Department of Medical Education, Boston Children's Hospital.

        li: a.icon(target="_blank" href="https://www.t2biosystems.com")
          span T2Biosystems.

        li: a.icon(target="_blank" href="https://idexxpcc.com")
          span Idexx Preventive Care Challenge.
          br
          span.desc WordPress based web-app to assist VDC's with Preventive Care sales and help veterinarians to provide their patients with the highest level of care, while increasing revenue.

        li: a.icon(target="_blank" href="https://bostonlax.net")
          span Boston Lacrosse.

        li: a.icon(target="_blank" href="http://gutierrezlab.com")
          span Gutierrez Lab, Boston Children's Hospital.

        li: a.icon(target="_blank" href="https://www.pancommunications.com")
          span Pancommunications.

        li: a.icon(target="_blank" href="https://simpeds.org")
          span Boston Children’s Hospital Pediatric Simulator Program.

        li: a.icon(target="_blank" href="https://www.lifespan.org/find-a-doctor")
          span Lifespan, Hospital &amp; Health Care, find-a-doctor.

        li: a.icon(target="_blank" href="https://www.openpediatrics.org/user-stories")
          span Open Pediatrics, Boston Children's Hospital.

        li: a.icon(target="_blank" href="https://thriving.childrenshospital.org")
          span Thriving, Boston Children's Hospital.
        li: a.icon(target="_blank" href="https://vector.childrenshospital.org")
          span Vector, Boston Children's Hospital.

        li: a.icon(target="_blank" href="http://petlyplans.com")
          span Idexx Petlyplans.

        li: a.icon(target="_blank" href="http://idexxneo.com")
          span Idexx Neo.

        li: a.icon(target="_blank" href="http://idexxcornerstone.com")
          span  Idexx Cornerstone.
